* text=auto eol=lf

/.github export-ignore
/.vscode export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.gitmodules export-ignore
/.prettierignore export-ignore
/.prettierrc export-ignore
/jsonpath.png export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/readme.md export-ignore
